:root {
  --epl--color--background: hsl(0 0% 90%);
  --epl--color--separator: hsl(0 0% 100%);
  --epl--color--text: hsl(0 0% 20%);
  --epl--typography--font-family: 'Cormorant Garamond', serif;
}

html {
  min-height: 100%;
}

body {
  background: var(--epl--color--background);
  color: var(--epl--color--text);
  font-family: var(--epl--typography--font-family);
  height: 100vh;
}
