:root {
  --epl--color--background: #000;
  --epl--color--text: #ddd;
  --epl--color--link: #5aaf9b;
  --epl--color--border: #222;
  --epl--typography--font-family: 'Cormorant Garamond', serif;
}

html {
  min-height: 100%;
}

body {
  background: var(--epl--color--background);
  color: var(--epl--color--text);
  font-family: var(--epl--typography--font-family);
  min-height: 100vh;
}

a {
  color: var(--epl--color--link);
}

iframe {
  max-width: 100%;
  border: 1px solid var(--epl--color--border);
}
